
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="cadastro.css">
    <link rel="icon" href="./images/2.png" type="image/x-icon">

</head>
<style>
    #cadastro{
        margin-left:37%;
    }
</style>
<body>
    <div class="container">
        <div class="login">
            <h2>Bem Vindo!</h2>
            <p>Para se manter conectado conosco<br>por favor logue com suas informações pessoais</p>
            <a href="login.php"><button>Login</button></a>
        </div>
        <div class="registro">
            <h2>Cadastro</h2>
            <br/>
            <form action="../controller/controller_administrador.php" method="POST">
                <input type="text" name="nome" placeholder="Nome Completo">
                <input type="text" name="cpf" placeholder="CPF">
                <input type="email" name="email" placeholder="Email">
                <input type="text" name="unidade_escolar" placeholder="Unidade Escolar">
                <input type="password" name="senha" placeholder="Senha">
                <input type="password" name="confirmar_senha" placeholder="confirmar senha">
                <br/>
                <div class="form-actions">
                </div>
                <button type="submit" id="cadastro">Cadastrar-se</button>
            </form>
        </div>
    </div>
</body>
</html>